@import url("https://fonts.googleapis.com/css2?family=Faculty+Glyphic&display=swap");
* {
  font-family: "Faculty Glyphic", sans-serif;
  font-family: "Faculty Glyphic", sans-serif;
  font-family: "Faculty Glyphic", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  padding: 1.25rem;
}
h1 {
  text-align: center;
}
.players {
  margin-top: 1.5rem;
  width: 100%;
  display: flex;
  align-items: center;
  gap: 3rem;
  border-radius: 7px;
  box-shadow: 1px 13px 46px -28px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 1px 13px 46px -28px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 1px 13px 46px -28px rgba(0, 0, 0, 0.75);
}
.players div {
  width: 100%;
  text-align: center;
  padding: 10px;
}
.image {
  margin-top: 1rem;
  max-width: 20%;
}
.hp {
  height: 23px;
  background-color: rgb(27, 190, 54);
}
.hp-number {
  margin-top: 1rem;
}
.faculty-glyphic-regular {
  font-family: "Faculty Glyphic", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.section-botao {
  height: 50px;
  width: 100%;
  margin-top: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 7px;
  gap: 1.5rem;
}
.botao-inicio {
  background-color: rgb(0, 108, 250);
  color: white;
  padding: 7px 10px;
  outline: none;
  border: none;
  border-radius: 7px;
  cursor: pointer;
  transition: 0.1s ease-in-out;
}
.botao-inicio:hover {
  background-color: rgb(11, 51, 104);
}
.botao-encerrar {
  background-color: rgb(212, 6, 6);
  color: white;
  padding: 7px 10px;
  outline: none;
  border: none;
  border-radius: 7px;
  cursor: pointer;
  transition: 0.1s ease-in-out;
}
.botao-encerrar:hover {
  background-color: rgb(100, 10, 10);
}
.botao-atacar {
  background-color: rgb(247, 104, 9);
  color: white;
  padding: 7px 10px;
  outline: none;
  border: none;
  border-radius: 7px;
  cursor: pointer;
  transition: 0.1s ease-in-out;
}
.botao-atacar:hover {
  background-color: rgb(175, 77, 11);
}
.botao-especial {
  background-color: rgb(9, 45, 247);
  color: white;
  padding: 7px 10px;
  outline: none;
  border: none;
  border-radius: 7px;
  cursor: pointer;
  transition: 0.1s ease-in-out;
}
.botao-especial:hover {
  background-color: rgb(8, 27, 131);
}
.botao-cura {
  background-color: rgb(59, 218, 11);
  color: white;
  padding: 7px 10px;
  outline: none;
  border: none;
  border-radius: 7px;
  cursor: pointer;
  transition: 0.1s ease-in-out;
}
.botao-cura:hover {
  background-color: rgb(27, 131, 8);
}
.result {
  margin-top: 1rem;
  text-align: center;
  /* background-color: red; */
}
.register-log {
  margin-top: 1.5rem;
  padding: 1rem 0;
}
.logs {
  display: flex;
  gap: 1.5rem;
  flex-direction: column;
  justify-content: center;
  list-style: none;
  text-decoration: none;
}
.logs li {
  background-color: rgba(152, 153, 152, 0.24);
  padding: 1rem 2rem;
  border-radius: 7px;
}
